{% extends "layout.html" %}

{% block title %}
home page 
{% endblock %}

{% block contect %}
<h2 class="bg-slate-800" >chai and code home page </h2>
<p class="bg-teal-800"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, magnam.</p>
{% endblock %}



{% comment %} {% load static %} {% endcomment %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web template</title>
    <!-- <link rel="stylesheet" href="../../static/style.css">  ---- not work--> 
     <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2> template website webIndex </h2>
    
</body>
</html> {% endcomment %}